go 1.19

use (
    ./01-testing-times/calculator
    ./04-happy-fun-books/bookstore
    ./04-happy-fun-books/mytypes
    ./04-happy-fun-books/creditcard
    ./11-opening-statements/short-variable-declarations
    ./11-opening-statements/the-happy-path
    ./11-opening-statements/bool-variables
    ./11-opening-statements/switch
    ./11-opening-statements/range
    ./11-opening-statements/for
    ./11-opening-statements/non-negative
    ./13-fun-functions/return
    ./13-fun-functions/apply
    ./13-fun-functions/variadic
)